.container .main_container{
    margin-top:0px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

.row {
    margin:10px;
}
.row.title{
    text-align:center;
    font-size:3em;
    color:#73879C;
    border-bottom:2px solid #E3E7EA;
}

.row .col-md-4 {
    text-align:center;
    border:1px solid white;
    border-right:solid 2px #73879C;
    cursor: pointer;
}

.row .col-md-4:hover{
    background-color:#EFEFEF;
    border: solid 1px #73879C;
}


.row .col-md-4 .what {
    font-size:1.8em;
    color:#73879C;

}

.row .col-md-4 .count {
    font-size:2em;
    color:#73879C;
    font-weight:bold;
}

#map {
    margin:auto;
    width:100%;
    height:800px;
}